/*****iconfont****/
@font-face { font-family: 'iconfont'; src: url('font/iconfont.eot'); /* IE9*/ src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/iconfont.woff') format('woff'), /* chrome、firefox */
  url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */ }
.iconfont { font-family: 'iconfont' !important; font-size: 1.6rem; font-style: normal; line-height: 1; display: block; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: .2px; -moz-osx-font-smoothing: grayscale; }

/* Preloader Plungin Style */
html { font-family: '微软雅黑'; font-size: 62.5%; }
html, body { display: block; overflow: hidden; width: 100%; max-width: 640px; height: 100%; margin: 0 auto; -webkit-user-select: none; user-select: none; -webkit-touch-callout: none; touch-callout: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-text-size-adjust: none; }
* { -webkit-box-sizing: border-box; box-sizing: border-box; }
ul, ol { margin: 0; padding: 0; list-style: none; }
body, .preload { background: rgb(69, 72, 77); /* Old browsers */ background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 72, 77, 1)), color-stop(100%, rgba(0, 0, 0, 1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0); /* IE6-9 */ }
.preload { position: fixed; z-index: 101; top: 0; display: block; width: 100%; max-width: 640px; height: 100%; }
.load { position: absolute; top: 50%; right: 0; left: 0; width: 100%; margin: auto; -webkit-transform: translate3d(0, -50%, 0); transform: translate3d(0, -50%, 0); }
.load-logo { display: block; margin: 0 auto; text-align: center; color: #fff; }
.game { position: relative; display: none; width: 100%; height: 100%; }
.g-bg { width: 100%; }
.g-bottom { height: 500px; }
.g-table { position: absolute; top: 5%; right: 0; left: 0; width: 96%; margin: auto; }
.g-help { position: absolute; top: 27%; left: 0; right: 0; margin: auto; width: 73%; }
.g-card { position: absolute; right: 3%; bottom: 3%; width: 14%; -webkit-transition: .2s .5s; transition: .2s .5s; }
.g-card.active { -webkit-transform: translateX(100%); transform: translateX(100%); opacity: 0; }
.g-bl-card { position: absolute; bottom: 0; left: 0; width: 33%; }
.btn-group { position: absolute; bottom: 8%; }
.btn-g1, .btn-g2 { display: block; width: 52%; margin: 0 auto 10px; }

/* 牌型介绍 */
.card-list { overflow: scroll; height: 360px; padding: 0 10px; -webkit-overflow-scrolling: touch; }
.card-list > li { overflow: hidden; height: 42px; margin-bottom: 1rem; }
.card-box { float: left; width: 55%; }
.card-text { float: left; width: 45%; }
.card-text > b { font-size: 1.6rem; display: block; }
.card-text > span { font-size: 1.2rem; display: block; }
.card { display: inline-block; padding: 3px 3px; text-align: center; color: #000; border: 1px #000 solid; -webkit-border-radius: 3px; border-radius: 3px; background: #fff; }
.card-red { color: #cc1819; }

/* mask */
.m-mask { position: fixed; z-index: 101; top: 0; right: 0; left: 0; width: 100%; max-width: 640px; height: 100%; margin: auto; -webkit-transition: .4s; transition: .4s; -webkit-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -webkit-transform: translateY(100%); transform: translateY(100%); }
.m-mask.active { -webkit-transform: translateY(0); transform: translateY(0); }
.m-mask-bg { width: 100%; height: 100%; background: rgba(0, 0, 0, .7); }
.m-mask-main { position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: none; overflow: hidden; width: 90%; height: 90%; margin: auto; padding-bottom: 10px; border: 2px #fdbe01 solid; border-radius: 5px; background: #fff2cd; }
.m-mask-close { position: absolute; z-index: 102; top: 1%; right: 1%; width: 8%; cursor: pointer; }
.m-mask-title { display: block; width: 53%; margin: 3% auto; }

/******Game End ******/
.m-mask-end { position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: none; width: 75%; height: 60%; margin: auto; border: 2px #fdbe01 solid; border-radius: 5px; background: #fff2cd; }
.end-logo { position: absolute; z-index: 101; top: 0; right: 0; left: 0; width: 31%; margin: auto; -webkit-transform: translateY(-30%); transform: translateY(-30%); }
.end-top { position: absolute; top: 0; width: 100%; height: 70%; padding-top: 10%; text-align: center; background: #fff2cd; }
.end-top .title { font-size: 2.4rem; margin: 2rem auto; }
.end-top  .text { font-size: 1.8rem; padding: 0 2%; text-align: left; }
.end-again { width: 33%; }
.end-bottom { position: absolute; bottom: 0; width: 100%; height: 30%; padding: 0 6%; background: #202020; }
.dpw-logo { position: absolute; top: 50%; float: left; width: 25%; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-border-radius: 10px; border-radius: 10px; }
.end-bottom p { position: absolute; top: 50%; right: 0; width: 60%; margin: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); text-align: center; color: #fff; }
.fc-red { font-size: 2rem; font-weight: bold; color: #f91514; }

/* Game Nav */
.g-main { display: none; -webkit-transition: .2s .3s; transition: .2s .3s; }
.bg-bottom { position: absolute; bottom: 0; left: 0; width: 100%; }
.card-group { position: absolute; bottom: 0; width: 100%; }
.card-group>button { float: left; border: none; background: transparent; width: 25%; margin: 0 4% 2%; }
.card-group>button>img { width: 100%; }
.g-main.active { display: block;}

/*********** Animated **********/
.animated { -webkit-animation-duration: .3s; animation-duration: .3s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }
.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s; }
@-webkit-keyframes pulse {
  0% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
  50% { -webkit-transform: scale3d(1.05, 1.05, 1.05); transform: scale3d(1.05, 1.05, 1.05); }
  100% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
@keyframes pulse {
  0% { -webkit-transform: scale3d(1, 1, 1); -ms-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
  50% { -webkit-transform: scale3d(1.05, 1.05, 1.05); -ms-transform: scale3d(1.05, 1.05, 1.05); transform: scale3d(1.05, 1.05, 1.05); }
  100% { -webkit-transform: scale3d(1, 1, 1); -ms-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
.pulse { -webkit-animation-name: pulse; animation-name: pulse; }
@-webkit-keyframes fadeOutLeft {
  0% { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
}
@keyframes fadeOutLeft {
  0% { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); -ms-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
}
.fadeOutLeft { -webkit-animation-name: fadeOutLeft; animation-name: fadeOutLeft; }